{% extends "base.html" %}

{% if article.summary_url %}
{% set summary_url = SITEURL + '/materiais/livros/' + article.summary_url %}
{% endif %}

{% if article.chapter_url %}
{% set chapter_url = SITEURL + '/materiais/livros/' + article.chapter_url %}
{% endif %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>{{ article.title }}</h1>
        <label>
            Postado em <strong>{{ article.locale_date }}</strong>
        </label>

        <br>
        {% if article.cover %}
        <img style="max-width: 16em;" src="{{ SITEURL }}/materiais/livros/{{ article.cover }}" alt="Capa - {{ article.title }}"/>
        {% endif %}
        <br>

        <ul>
            {% if article.chapter_url %}
            <li><b>Capítulo (PDF):</b> <a href="{{ chapter_url }}">{{ article.chapter_url }}</a></li>
            {% else %}
            <li>Nenhum capítulo disponível.</li>
            {% endif %}

            {% if article.summary_url %}
            <li><b>Sumário (PDF):</b> <a href="{{ summary_url }}">{{ article.summary_url }}</a></li>
            {% else %}
            <li>Link do sumário indisponível.</li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
