<div id="sidebar" class="sidebar">
    <nav class="sidebar-nav">
        <div class="nav-title">
            Laboratório
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Quem somos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Contatos e Redes sociais
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Memorial
                </a>
            </li>
        </ul>
        <div class="nav-title">
            Cartografia Tátil
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Aporte Teórico
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Mapas Táteis
                </a>
            </li>
        </ul>
    </nav>
</div>
