{% extends "page.html" %}

{% block title %}
    {{ page.title }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>{{ page.title }}</h1>
        <h2>Projetos</h2>
        <ul>
            {% for article in articles -%}
                {%- if article.section == page.section
                    and article.category == 'projetos' -%}
            <li>
                <a href="{{ SITEURL }}/{{ article.url }}">
                    {{ article.title }}
                </a>
                <br>
                {{ article.subtitle }}
            </li>
                {%- endif -%}
            {%- endfor %}
        </ul>

        <h2>Publicações</h2>
        <ul>
            {% for article in articles|sort_by_name -%}
                {%- if article.section == page.section
                    and article.category == 'publicações' -%}
            <li>
                {%- if article.section == 'cartografia-escolar' -%}
                <a href="{{ SITEURL }}/publicacoes/{{ article.slug }}">
                    {{ article.title }}
                </a>
                {%- else -%}
                <a href="{{ SITEURL }}/{{ article.section }}/publicacoes/{{ article.slug }}">
                    {{ article.title }}
                </a>
                {%- endif -%}
            </li>
                {%- endif -%}
            {%- endfor %}
        </ul>

        {{ page.content }}

        <h2>Livros</h2>

        <ul>
            {% for article in articles -%}
                {%- if article.section == page.section
                    and article.category == 'livros' -%}
            <li>
                <a href="{{ SITEURL }}/{{ article.section }}/livros/{{ article.slug }}">
                    {{ article.title }}
                </a>
            </li>
                {%- endif -%}
            {%- endfor %}
        </ul>
    </div>
</div>
{% endblock %}
