{% extends "base.html" %}

{% set url = SITEURL + '/materiais/' + '/publicacoes/' + article.url %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>{{ article.title }}</h1>
        <label>
            Postado em <strong>{{ article.locale_date }}</strong>
        </label>

        <ul>
            <li><b>Publicado em:</b> {{ article.other }}</li>
            {% if article.url %}
            <li><b>Link{%- if article.urltype %}
                ({{ article.urltype }})
                {%- endif -%}:</b> <a href="{{ url }}">{{ article.url }}</a></li>
            {% else %}
            <li>Link indisponível.</li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
