header {
    min-height: 6em;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: horizontal;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    line-height: 6rem;
}

#logo-labtate {
    margin: 1em;
    margin-left: 2em;
}

#logo-cfh {
    margin: 1em;
    margin-right: 2em;
}
