body {
    padding: 0;
    margin: 0;
}

.container {
    margin: 0;
    padding: 2em;
}

.navbar {
    color: lightgray;
    background: #408eff;
}

.nav-link {
    color: #eee;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;

    margin: 0;
}

.btn-info {
    background: #408eff;
    border: #408eff;
}

.btn-info:active, .btn-info:focus {
    background: #297dee;
    border: #408eff;
    box-shadow: none;
}
