.sidebar {
    min-width: 18em;
    max-width: 18em;
    min-height: 100vh;

    padding-left: 2em;

    transition: margin-left 0.1s;
}

.sidebar .nav-title {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;

    padding-top: 2em;
    padding-left: 1em;
    padding-bottom: 0.5em;

    margin-bottom: 0.5em;
    border-bottom: solid 1px gray;
}

.sidebar .nav {
    width: 15rem;
    display: flex;
    flex-direction: column;
}

.sidebar .nav-link {
    color: #3af;
}

#sidebar-collapse {
    display: none;

    cursor: pointer;
    right: 0;
    margin-left: 0;
}

@media(max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        margin: 0;
        min-height: 0;
        display: none;
    }

    .sidebar .nav-title {
        padding-top: 1em;
    }

    .sidebar.active {
        display: block;
    }

    #sidebar-collapse {
        display: block;
    }
}

